@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    background: #ffffff;
  }

.desconto{
    background-color: #1CD1B0;
    width: 100%;
    height: 38px;
    position: absolute;
    font-size: 15px;
    padding:10px;
        }

header{
    background-color: #00669F;
    padding:45px;
    width: 1400px;
    height: 150px;
    font-size: 40px;
    text-align: left;
    padding-left: 28px;
    padding-top: 66px;
    box-shadow: 0px 10px 7px rgba(71, 34, 34, 0.25);
       }

main {
display: flex;
        width: 864px;
        margin: auto;
        margin-top: 85px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
}

.card {
    width: 374px;
    height: 500px;
    background: #f3f3f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 200px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }

.imgbat {
  display: flex;
  align-items: center;
  flex-direction: column;
  }

.imgbat img {
  border-radius: 50%;
  margin-top: 100px;
}

.imgaler {
  display: flex;
  align-items: center;
  flex-direction: column;
  }

.imgaler img {
  border-radius: 50%;
  margin-top: 100px;
}

.batman {
  background-image: url(../img/headerCard01.png);
  background-repeat: no-repeat;
}

.alerquina {
  background-image: url(../img/headerCard02.png);
  background-repeat: no-repeat;
}

.like {
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
}

.conteúdo {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  }

.descrição {
  margin-top: 20px;
  text-align: center;
  }

.vermais {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  background-color: #00669F;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: #f3f3f3;
}

footer {
  display: flex;
  height: 51px;
  background: #00669f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 19px;
  color: #fff9f9;
  align-items: center;
  justify-content: center;
}




          

